#login {
	background-color: #84c9f4;
	border: 1px solid #cccccc;
	color: #6c6c6c;
	width: 505;
	text-align: center;
	border-radius: 5px;
	position: fixed;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

#santa {
    height: 150;
    float: left;
    padding: 10px;
}

#login-header {
	font-size: 35px;
	color: #696969;
}
#login input {
	width: 300px;
	border-radius: 4px;
	border: 1px solid #696969;
	margin-bottom: 15px;
	font-size: 15px;
	color: #000;
	padding-left: 4px;
}

#login input[type=submit] {
    background-color: #ca1827;
}

