<html>
	<head>
		<title>Christmas Registry</title>
		<link rel="stylesheet" href="style.css" type="text/css"/>
		<link rel="stylesheet" href="wishlist.css" type="text/css"/>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
		<script src="http://underscorejs.org/underscore-min.js"></script>
	</head>
	<body>

<div id="initials"><span>JMP</span><span>NTP</span><span>CDP</span><span>MKP</span><span>LXF</span><span>SLF</span><span>EXF</span><span>MEF</span><span>JSF</span><span>JRP</span><span>MAP</span><span>MLG</span></div>

	<div id="page">

	<div id="header">Your Christmas Wishlist</div>
	<div class="note">* Green indicates gift suggestion.</div>
	
  <div id="wishlist">
  </div>
		
<script type="text/template" id="wishlistTemplate">
  <div id="gift_<%= giftId %>" class="gift secret_<%= secret %>">
	  <div class="purchased"><input value="<%= giftId %>" id="purchased_<%= giftId %>" type="checkbox"/><label for="purchased_<%= giftId %>"></label></div>
	  <div class="details">
		<div>
		  <div class="title"><span><%= title %></span> <a class="link" target="_blank" href="<%= url %>"><img src="images/extLink.gif"/></a><div class="purchasedBy">(<%= purchasedBy %>)</div></div>
		</div>
	  </div>
	  <div class="edit">
		<form><input name="giftId" type="hidden" value="<%= giftId %>"/>
		 	<div><textarea name="title"><%= title %></textarea></div>
		 	<div><input name="url" type="text" value="<%= url %>"/></div>
			<div><input type="submit" value="Update"/></div>
	  </div>
	  </form>
  </div>
</script>

<div id="addGift">
		<img src="images/gifts.gif">
		<div>
		<h2>Add Gift Idea</h2>
		Use the form below to add gift ideas. To add a link, copy the url from the browser and paste it in the link field.
		</div>
		<div style="clear:both"></div>
		<a anchor="edit"></a>
		<form id="addGiftForm">
			<textarea name="title" placeholder="Description"></textarea></br>
			<input type="text" name="url" placeholder="Link"></br>
			<input type="submit" value="Add">			
		</form>
</div>
	
	<script>

		$( document ).ready(function() {
			var template = _.template($("#wishlistTemplate").html());

			var renderWishlist = function(data) {
				$("#header").html(wishlist.initials + " Christmas Wishlist");
				$("#wishlist").empty();
				_.each(data, function(g) {
				   	renderGift(g);
				});
			};

			var rerenderGift = function(gift, giftElement) {
				giftElement.find(".edit").hide();
				giftElement.find(".details").show();
				giftElement.find(".details .title span").html(gift.title);
				giftElement.find(".details .link").attr("href", gift.url);
			};

			var renderGift = function(gift) {
			   	var rawHtml = template(gift);
				var giftElement = $("#wishlist").append(rawHtml).children().last();
				giftElement.on("change", function(e){});
				if (gift.url == null) {
					giftElement.find(".link").hide();
				}
				if (gift.purchased == true) {
					giftElement.find(".purchased input[type=checkbox]").prop('checked', true);
					giftElement.addClass("purchased_true");
				}

				//toggle purchased state
				giftElement.find(".purchased input[type=checkbox]").on("change", function(e){
					var giftId = $(e.currentTarget).val();
					wishlist.purchasedGift(giftId);
				});

				//toggle edit mode on existing gift
				giftElement.find(".title span").on("click", function(e){
					giftElement.find(".details").hide();
					giftElement.find(".edit").show();
				});

				//handle updating gift
				giftElement.find("form").on("submit", function(e){
					e.preventDefault();
					var form = giftElement.find("form");
					var updates = {
						giftId: form.find("input[name=giftId]").val(),
						title: form.find("textarea[name=title]").val(),
						url: form.find("input[name=url]").val()
					};

					wishlist.updateGift(updates, function(data) {
						rerenderGift(data, giftElement);
					});
				});

			};

			$("#addGift form").on("submit", function(e) {
				e.preventDefault();

				var gift = {
					title: $("#addGiftForm textarea[name=title]").val(),
					url: $("#addGiftForm input[name=url]").val()
				};


				wishlist.submitGift(gift, function(data){
					$("#addGiftForm")[0].reset();
					renderGift(data);
				});
			});

			$("#initials span").on("click", function(e) {
				wishlist.loadWishList($(this).html(), renderWishlist);
			});

			wishlist.myWishList(renderWishlist);
			
		});

		var wishlist = {
			myWishList: function(callback) {
				$.ajax({
					url: "api/id"
				}).done(function(data) {
				   	wishlist.loadWishList(data, callback);
				});
			},
			loadWishList: function(newInitials, callback) {
				$.ajax({
					url: "api/" + newInitials + "/"
				}).done(function(data) {
					wishlist.initials=newInitials;
					callback(data);
				});
			},
			submitGift: function(gift, callback) {
				$.ajax({
					type: "PUT",
					contentType: "application/json",
					url: "api/" + wishlist.initials + "/",
					data: JSON.stringify(gift)
				}).done(function(data) {
					callback(data);
				})
			},
			updateGift: function(gift, callback) {
				$.ajax({
					type: "POST",
					contentType: "application/json",
					url: "api/" + wishlist.initials + "/" + gift.giftId,
					data: JSON.stringify(gift)
				}).done(function(data) {
					callback(data);
				});
			},
			purchasedGift: function(giftId) {
				$.ajax({
					url: "api/" + wishlist.initials + "/" + giftId + "/purchased"
				}).done(function(purchasedBy){
					$("#gift_" + giftId).toggleClass("purchased_true");
					$("#gift_" + giftId).find(".purchasedBy").html("(" + purchasedBy + ")");
				}).fail(function(){
					$("#gift_" + giftId).find(".purchased input[type=checkbox]").prop('checked', false);
				})
			}
		};
	</script>   

 
	</body>
</html>







